
.grid {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
}

.cell.wall {
    background-color: black;
}

.cell.item {
    background-color: green;
}

.place-button {
    margin: 20px;
    display: flex;
    background-color: #e1e1e6;
    width: 30%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: #333333;
    border-radius: 30px;
    text-decoration: none;
}

.circle-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    border: 2px solid #333;
    background-color: white;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center;
    user-select: none;
}

.item-row {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
}

.value-handlers {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}